<h1>SHOW PAGE FOR POKEMON ATTRIBUTES: 
    
    <%= pokemonIndex.name %></h1>
​
​
<br>
<h2><img src="<%=pokemonIndex.sprites.other.dream_world.front_default%>" width="300"></h2>
<br>
​
<p> Type:
<% pokemonIndex.types.forEach(type=>{%>
         <%=type.type.name%>
<% }) %>
</p>
​
<p> Abilites:
<% pokemonIndex.abilities.forEach(ability=>{%>
         <%=ability.ability.name%>
<% }) %>
</p>
​
<p> Moves: 
<% pokemonIndex.moves.forEach(move=>{%>
    
     <%=move.move.name%>
       
<% }) %>
</p>
​
​
​
<p> Stats:
<% pokemonIndex.stats.forEach(stat=>{%>
    
         <%=stat.stat.name%>
  
​
<% }) %>
</p>


​
